@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.main{
  width: 100%;
}
.navigation{
  width: 100%;
  height: 80px;
  background: $black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  &__hamburger{
    width: 90px;
    height: 50px;
    &--button{
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      &-img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.512)), url(/assets/img/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: $white;
  &__box{
    height: 80%;
    @include center;
    flex-direction: column;
    &--title{
      font-size: 3em;
      font-weight: 100;
      font-family: 'Raleway', sans-serif;
    }
    &--text{
      letter-spacing: 3px;
      font-size: .8em;
      font-weight: 900;
    }
    &--button{
      border: 1px solid $white;
      background: none;
      padding: 15px;
      margin-top: 60px;
      &-text{
        color: $white;
        letter-spacing: 3px;
        margin: 0;
        font-weight: 100;
        font-size: .8em;
      }
    }
  }
}
.skills{
  width: 100%;
  @include center;
  flex-direction: column;
  background: $black;
  color: $white;
  margin: 0;
  padding: 20px;
  &__title{
    letter-spacing: 3px;
    font-weight: 100;
    padding: 10px;
  }
  &__content{
    width: 80%;
    &--box{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-img{
        width: 18px;
        height: 18px;
      }
      &-text{
        margin-left: 20px;
      }
    }  
  }
}
.projects{
  width: 100%;
  @include center;
  flex-direction: column;
  &__title{
    letter-spacing: 3px;
    font-weight: 100;
    padding: 10px;
  }
  &__example{
    width: 300px;
    height: 300px;
    background-image: url('/assets/img/exampleRestaurant.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  &__choose{
    width: 300px;
    height: 300px;
    background: $black;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // display: none;
    z-index: -1;
    position: absolute;
    &--button{
      @include center;
      width: 150px;
      margin: 20px 0;
      &-project{
        background: none;
        border: 1px solid $white;
        color: $white;
      }
      &-github{
        border: none;
        background: $white;
      }
    }
    &--link{
      text-decoration: none;
    }
  }
  &__choose--js{
    z-index: 2;
  }
}