@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.main{
  width: 100%;
}
.navigation{
  width: 100%;
  height: 80px;
  background: $orange;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // position: sticky;
  // top: 0;
  // z-index: 10;
  &__hamburger{
    width: 90px;
    height: 50px;
    &--button{
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      &-img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.navigation--js{
  display: none;
}
.menu{
  display: none;
  height: 100%;
  &__list{
    list-style: none;
    @include center;
    &--link{
      text-decoration: none;
      color: $white;
      &-item{
        letter-spacing: 3px;
        padding: 15px;
      }
    }
  }
}
.nav{
  width: 100%;
  height: 100vh;
  display: none;
  &__list{
    list-style: none;
    margin-top: 50px;
    &--link{
      text-decoration: none;
      color: $black;
      &-item{
        padding: 30px;
        font-size: 1.3em;
        text-align: center;
        letter-spacing: 3px;
      }
    }
  }
  &__navigation{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__cross{
    width: 90px;
    height: 50px;
    margin-top: 30px;
    &--button{
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      &-img{
        width: 70%;
        height: 70%;
      }
    }
  }
}
.nav--js{
  display: block;
}
.header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.512)), url(/assets/img/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: $white;
  &__box{
    height: 80%;
    @include center;
    flex-direction: column;
    &--title{
      font-size: 3em;
      font-weight: 100;
      font-family: 'Raleway', sans-serif;
    }
    &--text{
      letter-spacing: 3px;
      font-size: .8em;
      font-weight: 900;
    }
    &--button{
      border: 1px solid $white;
      background: none;
      padding: 15px;
      margin-top: 60px;
      &-text{
        color: $white;
        letter-spacing: 3px;
        margin: 0;
        font-weight: 100;
        font-size: .8em;
      }
    }
  }
}
.skills{
  width: 100%;
  @include center;
  flex-direction: column;
  background: $black;
  color: $white;
  margin: 0;
  padding: 20px;
  &__title{
    letter-spacing: 3px;
    font-weight: 100;
    padding: 10px;
  }
  &__content{
    width: 80%;
    &--box{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &-img{
        width: 18px;
        height: 18px;
      }
      &-text{
        margin-left: 20px;
      }
    }  
  }
}
.projects{
  width: 100%;
  @include center;
  flex-direction: column;
  &__title{
    letter-spacing: 3px;
    font-weight: 100;
    padding: 10px;
  }
  &__content{
    width: 100%;
    @include center;
    flex-direction: column;
  }
  &__example{
    width: 300px;
    height: 300px;
    background-image: url('/assets/img/exampleRestaurant.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  &__choose{
    width: 300px;
    height: 300px;
    background: $black;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // display: none;
    z-index: -1;
    position: absolute;
    &--button{
      @include center;
      width: 150px;
      margin: 20px 0;
      &-project{
        background: none;
        border: 1px solid $white;
        color: $white;
      }
      &-github{
        border: none;
        background: $white;
      }
    }
    &--link{
      text-decoration: none;
    }
  }
  &__choose--js{
    z-index: 2;
  }
}
.contact{
  width: 100%;
  @include center;
  flex-direction: column;
  background: $orange;
  &__title{
    letter-spacing: 3px;
    font-weight: 100;
    padding: 10px;
  }
  &__form{
    @include center;
    flex-direction: column;
    padding: 10px;
    &--box{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 30px;
      &-label{
        font-size: 1.1em;
      }
      &-input{
        border: none;
        background: none;
        border-bottom: 1px solid $black;
        margin: 20px 0;
        padding: 5px;
        font-size: 1em;
      }
    }
    &--button{
      background: none;
      border: 1px solid $black;
      padding: 10px;
      width: 130px;
      &-text{
        letter-spacing: 3px;
        font-size: 1.3em;
        margin: 0;
      }
    }
  }
}

// media

@media(min-width: 500px){
  .skills{
    &__title{
      font-size: 2em;
    }
    &__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 60px;
      width: 100%;
      &--box{
        padding: 10px;
      }
    }
  }
  .projects{
    &__title{
      font-size: 2em;
    }
    &__content{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .contact{
    &__title{
      font-size: 2em;
    }
  }
}
@media(min-width: 700px){
  .skills{
    &__content{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .navigation{
    &__hamburger{
      display: none;
    }
  }
  .menu{
    display: block;
  }
}